<!-- tabs.page.html 파일 -->

<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="tab1">
      <ion-icon name="bar-chart-outline"></ion-icon>
      <ion-label>제어</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab2">
      <ion-icon name="Bluetooth"></ion-icon>
      <ion-label>블루투스</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab3">
      <ion-icon name="help-circle-outline"></ion-icon>
      <ion-label>도움말</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

  <ion-button (click)="toggleTabBar()">
    Toggle Tab Bar
  </ion-button>
  
</ion-tabs>
